
{%extends 'home.html'%}
    {%load static%}
    {%block content%}

<form method="POST">
    {% csrf_token %}
    <label for="id_old_password">Old password:</label>
    <input type="password" name="old_password" autocomplete="current-password" autofocus
        required id="id_old_password" class="form-control">
    <p style="color: red;">{{ form.old_password.error|strip tags }}</p>
    <label For="id_new_password 1">New Password:</Label>
    <input type="password" name="new_password1" autocomplete="new-password" required
        id="id_new_password1" class="form-control">
    <p style="color: red;">{{ form.new_password 1.errors|striptags }}</p>
    <label for="id_new_password 2">Confirm new password:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required
        id="id_new_password2" class="form-control">
    <p style="color: red;">{{ form.new_password 2.errors|striptags }}</p>
    <div style="|text-align: center; margin-top: 10px">
    
        <button class="btnSubmit" type="submit">CHANGE PASSWORD</button>
</form>
{%endblock%}